<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Post</title>
  <link rel="stylesheet" href="/css/create.css">

</head>
<body>
<nav th:replace="partials/navabar :: navbar"/>
<h1>Create Post</h1>
    <div class="page-wrapper">
      <div class="ad-card">
        <form action="/posts/create" method="post">
          <div class="form-control">
            <label for="title">title</label>
            <input  type="text" name="title" id="title">

            <label for="body">body</label>
            <textarea name="body" id="body" cols="30" rows="10"></textarea>
          </div>
            <button type="submit">Post</button>


        </form>
      </div>
    </div>



</div>
</body>

</html>