<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Roll Dice</title>
	<link rel="stylesheet" href="../css/roll-dice.css">

</head>
<style>
	.grid{
		margin: 0  auto;
		width: 400px;
	}
	.grid a {
		width: 200px;
		height: 200px;
		border: 2px solid black;
		background-color: gray;
		text-align: center;
	}
	a {
		text-decoration: none;
	}

</style>
<body>
<nav th:replace="partials/navabar :: navbar"/>
	<h1>Super Duper Dice Roll</h1>
<!--		<p> Here is Your guess: <span th:text="${userGuess}"></span></p>-->
<!--	<form action="/roll-dice" method="post">-->
<!--		<input type="text" name="userGuess" id="userGuess">-->
<!--		<button th:type="submit">Submit</button>-->
<!--	</form>-->
<div class="grid" style="display: grid; grid-template-columns: repeat(2, 1fr);">
	<a href="/roll-dice/1"  type="submit">1</a>
	<a href="/roll-dice/2"  type="submit">2</a>
	<a href="/roll-dice/3"  type="submit">3</a>
	<a href="/roll-dice/4"  type="submit">4</a>
	<a href="/roll-dice/5"  type="submit">5</a>
	<a href="/roll-dice/6"  type="submit">6</a>
</div>
</body>

</html>